@import "tailwindcss";

@theme {
    --font-primary: "Raleway", "sans-serif"; 
    --font-secondary: "Rubik", "sans-serif"; 
    --text-2xs: 12px;

    --breakpoint-xs: 400px;
}

button, a {
    cursor: pointer; 
}

body {
    font-family: var(--font-secondary);
}